#iphone-listings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.listing-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    border: 2px solid #004d66;
    padding: 10px;
    background-color: #e1f2f8;
    border-radius: 8px;
}

.listing-card .title {
    grid-column: span 2;
    background-color: #004d66;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.listing-card .price {
    background-color: #004d66;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    grid-row: span 2;
    border-radius: 8px;
}

.listing-card .detail {
    text-align: center;
    padding: 10px;
    border: 1px solid #004d66;
    background-color: white;
    border-radius: 5px;
}

/* Dynamic price box colors */
.price.green {
    background-color: #66cc66;
}

.price.yellow {
    background-color: #ffcc00;
}

.price.red {
    background-color: #ff6666;
}
